:root {
    --black: #262626;
    --blackLow: #232c32;
    --cyan: #4cb6cb;
    --green: #1ab667;
    --white: #ffffff;
    --violet: #232c32;
    --gray: #e8eff0;
    --grayHight: #788188;
    --red: #f05050;
    --header_height: 60px
}

* {
    box-sizing: inherit;
    font-family: 'Alegreya', serif;
    outline: none;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.container {
    width: 1200px;
}

.word-md {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
}

.word-sm {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 500;
}

.color-white {
    color: var(--white-color);
}

.color-cyan {
    color: var(--cyan-color);
}

.color-cyan-fade {
    color: var(--white-color);
}

.color-off-white {
    color: var(--white-color);
}

.flex {
    display: flex;
}

